Q1. **Find out all the types of error that we have encountered in our lecture and why? Also include the examples.**

Actually I haven't received any error in writing the code, just I am facing a problem in calling the variables in the print statment like I forgot to use brackets like parenthesis but I will overcome this with more and more practice.

Q2. Take input A and B and print their sum, mul, div, square of the nos.

In [22]:
#code for taking input from the user to perform different arthemetical operations. 
a = int(input("Input the value of a :"))
b = int(input("Input the value of b :"))
c,d,e,f = a+b,a*b,a/b,(a*a,b*b)
print (f"The sum of a nd b is : {c}")
print (f"The product of a nd b is : {d}")
print (f"The division of a nd b is : {e}")
print (f"The square's of a nd b are : {f}")

Input the value of a :46
Input the value of b :23
The sum of a nd b is : 69
The product of a nd b is : 1058
The division of a nd b is : 2.0
The square's of a nd b are : (2116, 529)

Q3. **How many reserve keywords are there in python and why we should not use them as a variable name.**

There are 31 reserve keywords in the python language. We should not have use the reserve keywords as the variable name becuase keywords are the reserved words that have the special meaning for the Python Interpretor. They are used to define the synatx and structure of the Python language.

Q4. **Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com**

In [12]:
last_name_of_the_user = input ("The last name of the user is : ")
first_name_of_the_user = input ("The first name of the user is : ")
print (f"The email id of the user is {last_name_of_the_user}.{first_name_of_the_user}@gmail.com")

The last name of the user is : Sharma
The first name of the user is : Nitin
The email id of the user is Sharma.Nitin@gmail.com

Q5. **Try to print the following lines -
Hi I'm Sunny
My address is 22\3
I earn 20$ daily.**

In [15]:
name = input("Your name is : ")
address = input("Your address is : ")
Your_daily_income = input("Your daily income is : ")
print(f""" Hi my name is {name}!
My address is : {address}
My daily income is : {Your_daily_income}""")

Your name is : Nitin
Your address is : Delhi
Your daily income is : $25
 Hi my name is Nitin!
My address is : Delhi
My daily income is : $25

Q6. **Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs**

In [19]:
first_name_of_the_user = input ("The first name of the user is : ")
last_name_of_the_user = input ("The last name of the user is : ")
address = input("Your address is : ")
your_date_of_birth = input(" Your D.O.B is : ")

print (f""" *** Check your college form details ***
Name of the Student : {first_name_of_the_user} {last_name_of_the_user}
Address of the Student : {address}
Date of Birth : {your_date_of_birth}
Student email id : {last_name_of_the_user}.{first_name_of_the_user}@gmail.com""")

The first name of the user is : Nitin
The last name of the user is : Sharma
Your address is : New Delhi
 Your D.O.B is : 26-06-2000
 *** Check your college form details ***
Name of the Student : Nitin Sharma
Address of the Student : New Delhi
Date of Birth : 26-06-2000
Student email id : Sharma.Nitin@gmail.com

Q7. **Convert the following -
"22.4" into integer
"22" into complex no.**

In [20]:
# float to integer
a  = 22.4
print (f"data type before : {type(a)}, value of a : {a}")
a = int(a)
print (f"data type after : {type(a)}, value of a : {a}")

data type before : <class 'float'>, value of a : 22.4
data type after : <class 'int'>, value of a : 22

In [21]:
#interger to complex number 
a = 22
print (f"data type before : {type(a)}, value of a : {a}")
a = complex(a)
print (f"data type before : {type(a)}, value of a : {a}")

data type before : <class 'int'>, value of a : 22
data type before : <class 'complex'>, value of a : (22+0j)